@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css );

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}

main{
    display: flex;
    width:1000px;
    margin: 30px auto;
}

.left-side{
    width: 60%;
}
.left-side h2{
    padding-left: 20px;
    margin-bottom: 10px;
}

.left-side p{
    font-size: 9px;
    width: 95%;
    padding-left: 20px;
    margin-bottom: 10px;
    color: #b2b2b2;
}

form label{
    font-size: 10px;
    color: #b2b2b2;
}

.left-form{
    width: 80%
}
.right-side{
    width: 40%;
}


